.App {
    text-align: center;
    /* background-image: url('http://www.innovationplans.com/idesign/daniels/img/bg.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
  }
  